body {
	position: relative;
}

#buffer {
	height: 5vh;
}
#footer {
	z-index: 100;
	background: #dadada;
	position: fixed; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
}

#transition {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
  transition: width .5s;
}
